{% load static %}
<footer id="footer">
    <div class="container">
      <h3>Ingenious</h3>
      <p>Input, Process, Output and get your desired summary.</p>
      <div class="copyright">
        &copy; Copyright <strong><span>Ingenious</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://www.linkedin.com/in/aditi-goyal-ab163819b/">Aditi</a> & <a href="https://www.linkedin.com/in/amber-prakash-verma-79b7781b1/">Amber</a>
      </div>
    </div>
    {% block extrafooter %}
    {% endblock %}
  </footer><!-- End Footer -->