{% load static %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Ingenious</title>
    <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
    <link rel="stylesheet" type="text/css" href="main.css"><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    {% block extrahead %}
    {% endblock %}
  </head>
<body>
    {% block content %}
  {% endblock %}
</body>
</html>
</body>
</html>