{% extends 'password_reset/basic.html' %}
{% load static %}
{% block extrahead %}
<link href="{% static 'assets/css/password.css' %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
{% if validlink %}
<form class="login" method='post'>
  <h2>Enter new password</h2>
    <span><small>Please enter your new password twice so we can verify you typed it in correctly.</small></span>
    <br><br>
  {% csrf_token %}
  {% for field in form %}
  <small>{{ field.label_tag }} </small>        
  {{ field }}
  <!-- {{form}} -->
  {% endfor %}
  <input type="submit" value="change my password" class="submit-btn">

  

</form>
{% else %}
<div class="login">
    <h3>Enter new password</h3>
    <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

</div>

{% endif %}
{% endblock %}
