{% extends 'password_reset/basic.html' %}
{% load static %}
{% block extrahead %}
<link href="{% static 'assets/css/password.css' %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
<form class="login" method='post'>
  <h3>Trouble Signing In?</h3>
    <span><small>request a password reset, and we will have you up again..</small></span>
    <br><br>
  {% csrf_token %}
  {{form}}
  <input type="submit" value="forgotten password" class="submit-btn">
 
  <small class="text-muted">
    try signing in again? <a class="ml-2" href="{% url 'login' %}">Log Into Your Account</a>
  </small>
</form>
<script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
<!-- {% for field in form %}
    {% for error in field.errors %}
        <script> alertify.error('{{error}}');</script>
    {% endfor %}
{% endfor %}
{% endblock %} -->
