{% extends 'base/base.html' %}
{% load static %}
{% block extrahead %}

<link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
{% endblock extrahead %}
{% block content %}
<div class="container-fluid">
    <h1><br><br></h1>
    <header class="section-header">
        <h3>Answers to the questions from the provided text :)</h3>
        <p> Our AI based model has been trained on question-answer pairs, including unanswerable questions, for the task of Question Answering.</p>
      </header>
    <div class="card border-end box help">
        <div class="card-body">
            <form method="post" action="/questions">
            <div class="row">
                <div class="col-sm-6">
                  <div class="card h-100 all">
                   
                        {% csrf_token %}
                    <div class="card-header">
                            <div >
                                    <strong>Enter text here</strong>
                            </div>
                          
                    </div>
                    <div class="card-body">
                        
                          
                            <textarea type="text" id="text" name="text" class="form-control" rows="8" placeholder="Enter text with minimum length of 40 characters" required="required"></textarea>
                            <br>
                            <div class="row">
                                <div class="col-lg-6">
                                    <button type="reset" class="btn btn-secondary">Clear</button>
                                </div>
                               
                            </div>
                    </div>
                
                  </div>
                </div>
                <div class="col-sm-6 ">
                  <div class="card h-100 all">
                    <div class="card-header">
                        <strong>Question Answers</strong>
                    </div>
                    <div class="card-body">
                        <!-- <p>{{variable}}</p> -->
                        
                            <div >
                                
                                <textarea type="text" id="question" name="question"class="form-control" rows="8" placeholder="Enter Question from the text . e.g. what is your name?" required="required"></textarea>
                            
                            <br>
                            
                        </div>
                        <div class="row">
                            <div class="col-lg-6">

                            </div>
                            <div class="col-lg-6 text-end">
                                <button type="submit" class="btn btn-success ">Compute >></button>
                            </div>
                        </div>
                        
                    </div>
                  </div>
                </div>
              </div>
            </form>
            <br>
            <div>
                <strong>Answer</strong>
                <textarea class="form-control answer border-success text-success" id="exampleFormControlTextarea1" rows="3" placeholder="Answer : My name is Aditi." readonly >{{variable}}</textarea>
            </div>
        </div>
      </div>
      <section id="features" class="features">
        <div class="container" data-aos="fade-up">
    
          <div class="row feature-item">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
              <img src="{% static 'assets/img/question.png'%}" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0" data-aos="fade-left" data-aos-delay="150">
                
                <header class="section-header">
                        <h3>How to use our feauture?</h3>
                    </header>
                    <ul>
                        <p>This is the best feature of this question answering tool tool because it gives you the freedom to choose the length of  text and get best optimised answer.
    
                            It depends upon the circumstances, sometimes you have a long paragraph and sometimes a shorter . This answering  tool gives you the best optimised answer from your text according to your needs.</p>
                    <li>
                         Insert the text (article, research paper, book extract) into the text area.
                    </li>
                    <li>
                        Enter the question whic to be answered from the entered text.
                    </li>
                    <li>
                         Click the <strong>“Compute Button”</strong>  Button.
                    </li>
                    
                        </ul>
                        
                  </div>
              
            </div>
          </div>
    
        </div>
      </section><!-- End Features Section -->
</div>

<br><br>
    {% endblock %}