{% load static %}

<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Ingenious</title>
    <link href="{% static 'assets/img/favicon.png'%}" rel="icon">
    <link rel="stylesheet" type="text/css" href="main.css"><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
    <!-- css -->
    
    <link href="{% static 'assets/css/login.css'%}" rel="stylesheet">  
</head>
  <body>
    <div class="main">
      <div class="container a-container" id="a-container">
        <!-- sign up form -->
        <form class="form" id="a-form" method="post" action="">
            {% csrf_token%}
          <h2 class="form_title title">Create Account</h2>
          <div class="form__icons"><img class="form__icon" src="">
          {{form.email}}
          {{form.password1}}
          {{form.password2}}
          <br>
        
          <!-- errors display -->
          {{form.errors}}
          
          <input type="submit" name=" Create user" class="switch__button button switch-btn">
          
        </form>
      </div>
      <div class="switch">
        <!-- signin option -->
        <div class="switch__circle"></div>
        <div class="switch__circle switch__circle--t"></div>
        <div class="switch__container" id="switch-c1">
          <h2 class="switch__title title">Welcome Back !</h2>
          <p class="switch__description description">To keep connected with us please login with your personal info</p>
          <button class="switch__button button switch-btn"><a href="{% url 'login' %}">SIGN IN</a></button>
        </div>
      </div>
      
    </div>
  </body>
</html>
<!-- js-login.js -->
<script src="{% static 'assets/js/login.js'%}"></script>
</body>
</html>
